.app.light {
    --bg-color: #ebedf3;
    --inverted-bg-color: #014a7f;
    --primary-color: #126fb5;
    --secondary-color: #4fe3c1;
    --inverted-primary-color: #4ecbfb;
    --inverted-secondary-color: #74ffe0;
}
